.usenet-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem auto;

  @include respond-to("medium") {
    max-width: 1040px;
  }

  .usenet-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 8px;

    @include respond-to("medium") {
      flex-direction: row;
    }

    .usenet-recommendation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      color: var(--primary-foreground-color);
      box-shadow: 0 0 4px 1px rgba(143, 143, 143, 0.2);
      transition: 0.15s box-shadow ease-in-out;
      padding: 16px;
      position: relative;
      background: var(--background-color);

      @include respond-to("medium") {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }

      &:hover {
        box-shadow: 0 0 8px 4px rgba(143, 143, 143, 0.3);

        .usenet-img {
          transform: scale(1.05);
        }
      }

      .usenet-title {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        margin: 16px 0 0 0;
      }

      .usenet-price {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0.5rem 0;

        .amount {
          color: var(--link-color);
        }
      }

      .selling-points {
        padding-left: 20px;
      }

      .usenet-img {
        transition: 0.15s transform ease-in-out;

        @include respond-to("medium") {
          width: 100%;
        }
      }
    }
  }
}
